---
layout: default.njk
title: F.A.Q.
description: Veelgestelde vragen over het Nederlands Kampioenschap Flunkybal
---
<h1 class="text-center text-3xl font-bold m-6 z-1">Veelgestelde Vragen</h1>
<p>Heb je nog vragen over het evenement die hier niet tussen staan? Stuur dan een whatsappje naar de coördinator <a href="tel:+31624408379">+31 6 24408379</a> of mail ons op <a href="mailto:voortrekkers@hmg-soest.nl">voortrekkers@hmg-soest.nl</a></p>

<div class="grid grid-cols-1 mx-4">
	<details class="py-4 border-b border-gray-300" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
		<summary class="items-center font-bold" itemprop="name">Wanneer is het volgende evenement?</summary>
		<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
			<p class="mt-4 leading-normal text-md" itemprop="text">
				Zondag 21 April 2024
			</p>
		</div>
	</details>
	<details class="py-4 border-b border-gray-300" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
		<summary class="items-center font-bold" itemprop="name">Waar vind het plaats?</summary>
		<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
			<p class="mt-4 leading-normal text-md" itemprop="text">
				Dat staat nog niet vast. De locatie, kosten en regels worden uiterlijk een maand voor het evenement bekend gemaakt. Verwacht het in de buurt van Utrecht en goed bereikbaar via het openbaar vervoer.
			</p>
		</div>
	</details>
	<details class="py-4 border-b border-gray-300" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
		<summary class="items-center font-bold" itemprop="name">Wat zijn de officiële regels?</summary>
		<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
			<p class="mt-4 leading-normal text-md" itemprop="text">
				We zijn druk bezig met de regels op te zetten. Net als de locatie en kosten zullen regels uiterlijk een maand voor het evenement bekend worden gemaakt.
			</p>
		</div>
	</details>
	<details class="py-4 border-b border-gray-300" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
		<summary class="items-center font-bold" itemprop="name">Wie organiseren het evenement?</summary>
		<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
			<p class="mt-4 leading-normal text-md" itemprop="text">
				Het evenement wordt georganiseerd de Voortrekkers van de H.M.G.
			</p>
		</div>
	</details>
	<details class="py-4 border-b border-gray-300" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
		<summary class="items-center font-bold" itemprop="name">Waarom is het Flunkybal en niet Flunkyball?</summary>
		<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
			<p class="mt-4 leading-normal text-md" itemprop="text">
				Nederlands is een moeilijke taal. Flunkybal is een verbastering van het Duitse woord Flunkyball. In het Duits is het Flunkyball, in het Nederlands Flunkybal. Het is dus niet fout geschreven, maar een verbastering van het Duitse woord.
			</p>
		</div>
	</details>
</div>